@import 'variables';
@import 'libs/normalize';

@import "components/all";

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black-bg;
}

.todo {
  width: 400px;
  height: auto;
  border: 1px solid #00000038;
  border-radius: 15px;
  box-shadow: -8px -9px 4px 1px #00000038;
  background-color: $black-main;
}

.todo__content {
  padding: 20px 0;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

